// Image for full screen display with overlay content.
// @todo: Work on responsive (mobile) version.
.cover-image {
  // @todo: Look at how to 'lazy-load' the images.
  // Possibly load a default 'fuzzy' image or version of the target image,
  // then swap out to a high res when the section is 'loaded'.
  // transition: background-image 1s ease-in-out;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;

  .jumbotron {

    margin: 20vh 0 15vh 0;
    overflow-y: auto;
    width: 100%;
    background: rgba($gray-200, 0.9);

  }

  h2.display-3 {

    font-size: 2.5rem;

    @include media-breakpoint-up('sm') {
      font-size: 3.5rem;
    }

    @include media-breakpoint-up('md') {
      font-size: 4.5rem;
    }
  }

  h3 {
    font-size: 1.25rem;

    @include media-breakpoint-up('sm') {
      font-size: 1.5rem
    }

    @include media-breakpoint-up('md') {
      font-size: 1.75rem
    }
  }
}

// Design specific images for certain classes.
.cover-image {

  // Available images are as follows:
  // cayenne.jpg
  // spices.jpg
  // cutting-board.jpg
  // jars.jpg
  // stock-pots.jpg

  &.horizontal-section--intro {
    background-image: url('/assets/images/cover-images/xxl/cutting-board.jpg');

    @include media-breakpoint-up('md') {
      background-image: url('/assets/images/cover-images/xxl/cutting-board.jpg');
    }
    @include media-breakpoint-up('xxl') {
      background-image: url('/assets/images/cover-images/xxl/cutting-board.jpg');
    }
  }

  &.horizontal-section--how-much {
    background-image: url('/assets/images/cover-images/xxl/jars.jpg');

    @include media-breakpoint-up('md') {
      background-image: url('/assets/images/cover-images/xxl/jars.jpg');
    }
    @include media-breakpoint-up('xxl') {
      background-image: url('/assets/images/cover-images/xxl/jars.jpg');
    }
  }

  &.horizontal-section--how-hot {
    background-image: url('/assets/images/cover-images/md/cayenne.jpg');

    @include media-breakpoint-up('md') {
      background-image: url('/assets/images/cover-images/xl/cayenne.jpg');
    }
    @include media-breakpoint-up('xxl') {
      background-image: url('/assets/images/cover-images/xxl/cayenne.jpg');
    }
  }

  &.horizontal-section--ingredients {
    background-image: url('/assets/images/cover-images/xxl/spices.jpg');

    @include media-breakpoint-up('md') {
      background-image: url('/assets/images/cover-images/xxl/spices.jpg');
    }
    @include media-breakpoint-up('xxl') {
      background-image: url('/assets/images/cover-images/xxl/spices.jpg');
    }
  }

  &.horizontal-section--instructions {
    background-image: url('/assets/images/cover-images/xxl/stock-pots.jpg');

    @include media-breakpoint-up('md') {
      background-image: url('/assets/images/cover-images/xxl/stock-pots.jpg');
    }
    @include media-breakpoint-up('xxl') {
      background-image: url('/assets/images/cover-images/xxl/stock-pots.jpg');
    }
  }

  &.horizontal-section--reading {
    background-image: url('/assets/images/cover-images/xxl/books.jpg');

    @include media-breakpoint-up('md') {
      background-image: url('/assets/images/cover-images/xxl/books.jpg');
    }
    @include media-breakpoint-up('xxl') {
      background-image: url('/assets/images/cover-images/xxl/books.jpg');
    }
  }
}
