$default-shadow: 5px 5px 25px 0 rgba(0,0,0,0.25);
$default-text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.50);
$font--header: 'Patua One', cursive;
$font--serif: 'Patua One', cursive;
$font--sans: 'Lato', sans-serif;

$c-chili--one: #efe2af;
$c-chili--two: #40313b;
$c-chili--three: #c2bba6;
$c-chili--four: #a6937b;
$c-chili--five: #725a52;

$c-mild: green;
$c-medium: orange;
$c-hot: red;

$blue-drupal: #369ECC;
$blue-linkedin: #0077B5;
$blue-twitter: #00aced;
$blue-webpack: #1d78c1;
$blue-jquery: #0769ad;
$blue-react: #00d8ff;
$purple-php: #4f5b93;
$teal-mysql: #00758f;
$yellow-js: #f7df1e;
$green-nodejs: #44883e;
$red-gulp: #f5494e;
$red-git: #ff4b30;
$red-angular: #b52e31;
$pink-sass: #d46798;
$orange-grunt: #fba919;
$brown-composer: #674c34;
$green-twig: #bbcd44;

//
// Color system
//

// stylelint-disable
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
);

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$colors: (
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "white": $white,
        "gray": $gray-600,
        "gray-dark": $gray-800
);

$primary: $blue;
$secondary: $gray-600;
$tertiary: $pink;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "tertiary": $tertiary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);
// stylelint-enable

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs:   0,
  sm:   576px,
  md:   768px,
  lg:   992px,
  xl:   1200px,
  xxl:  1900px, // 1080
);
