// default variables
@import "../vars.scss";

section.instructions {
  
  .inner {  
    
    #instruction-grid {
      @include clearfix();
      margin-top: 5%;
      
      .instruction-item {
        margin-bottom: 5%;
        color: $color1;
        background: #FFF;
        
        h3 {
          margin: 0;
          padding: 20px;
          padding-left: 60px;
          background-color: $color1;
          color: $color3;
          
          .icheck {
            top: 35px;
            left: 20px;
          }
        }
        
        .image {
          
          img {
            display: block;
            width: 100%;
          }
        }
        
        .item-data {
          padding: 20px;
          background: #FFF;
          
          .instruction {
            
            p {
              margin-top: 0;
            }
          }
          
          .options {
            font-size: 0.85em;
            font-style: italic;
            color: $color4;
            p {
              margin-bottom: 0;
            }
          }  
        }
        
          
      }
      
      
    }
    
    ul {
      padding-left: 1em;
      
      li {
        list-style-type: square;
        list-style-position: outside;
        
      }
    }
  }
}
@media all and (min-width: $tablet) {
  section.instructions {
    .inner {  
      
      #instruction-grid {
        
        .instruction-item {
          @include shadow();
          //@include rounded();
          @include clearfix();
          border: 5px solid rgba($color1, 0.5);
          
          -webkit-transition: all 0.25s ease-out;
          -moz-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
          
          .image {
            
            @include transformFix();
            
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            -o-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
          }          
          
          .item-data {
            //-webkit-border-bottom-right-radius: 15px;
            //-moz-border-radius-bottomright: 15px;
            //border-bottom-right-radius: 15px;
          }
        }
      }
    }
  }
  
  html.no-touch {
    section.instructions {
      .inner {  
        
        #instruction-grid {
          
          .instruction-item {
            
            .image {
              opacity: 0.85;
            }
            
            &:hover {
              border: 5px solid rgba($color1, 1);
              
              .image {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: $desktop) {
  section.instructions {
    .inner {  
      
      #instruction-grid {
        
        .instruction-item {
          position: relative;
          @include clearfix();
          
          .image {
            float: left;
            //clear: left;
            width: 50%;
          }
          
          .item-data {
            width: 50%;
            float: right;
            
            .options {
              
              p:last-child {
                //margin-bottom: 0;
              }
            }
          }
          
          &:nth-child(2n + 2) {
            //margin-right: 0;
            //clear: none;
          }
        }
      }
    } 
  }  
}