// default variables
@import "../vars.scss";

// All default/mobile styles will appear before the following media queries.
#recipe {
  width: 100%;
  font-size: 18px;
  background: rgba(#FFF, 0.5);
  display: block;
  
  
  .toggle-links {
    font-size: 10px;
    font-family: $fontFamilyStandard;
    float: right;
    margin-top: 8px;
    
    a {
      text-decoration: none;
      color: $color2;

      &:hover {
        color: $color4;
      }
    }
  }
  
  .item-link {
    display: inline-block;
    position: relative;
    text-indent: -99999em;
    height: 18px;
    width: 18px;
    background: url('../i/link.png') no-repeat center center;
    background-size: contain;
    margin-left: 10px;
    top: 5px;
    float: right;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0.25;
    
    &:hover {
      opacity: 1;
    }
  }
  
  .inline-link {
    display: inline-block;
    position: relative;
    text-indent: -99999em;
    height: 12px;
    width: 12px;
    background: url('../i/link.png') no-repeat center center;
    background-size: contain;
    margin: 0 5px;
    top: 5px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0.25;
    
    &:hover {
      opacity: 1;
    }
  }
  
  thead {
    display: block;
    
    tr {
      display: block;
      width: 100%;
      position: relative;
      @include clearfix();
      
      th {
        font-size: 1em;
        font-family: $fontFamilyHeader;
        font-weight: 700;
        
        background: $color1;
        color: $color2;
        min-height: 50px;
        padding: 10px;
        text-align: left;
      }
      
      th:first-child {
        display: inline-block;
        width: 65%;
        float: left;
      }
      th:last-child {
        display: inline-block;
        width: 35%;
        float: right;
      }
    }
    
  }

  tbody {
    display: block;
    
    tr {
      border-bottom: 1px solid rgba($color1, 0.2);
      width: 100%;
      position: relative;
      @include clearfix();
      
      td:first-child {
        display: inline-block;
        width: 65%;
        float: left;
        padding-left: 42px; // to align when checkbox is present
      }
      td:last-child {
        display: inline-block;
        width: 35%;
        float: right;
      }
    }
    
    tr.mild, tr.medium, tr.hot {
      display: block;
    }    
    
    
    
    td {
      padding: 10px;
      font-family: $fontFamilyHeader;
      font-weight: 400;
      color: $color1;
      
      a {
        color: $color1;
      }
      
      
      .item-qty {
        margin-right: 5px;
      }
      
      .item-type {
        font-size: 0.75em;
      }
      .item-plural {
        display: none;
        
        &.always-plural,
        &.is-plural {
          display: inline;
        }
      }
      .item-desc {
        font-size: 0.75em;
        
        color: $color5;
      }
    }
    
    tr.sauce,
    tr.substance,
    tr.spice {
      
      td {
        color: $color2;
        padding: 10px;
        font-size: 1.25em;
        font-family: $fontFamilyHeader;
        font-weight: 700;
        
        &:first-child,
        &:last-child {
          float: none;
          width: 100%;
        }
      }
    }
    
    tr.sauce {
      background: #c63f3f;
    }
    tr.substance {
      background: #c68b3f;
    }
    tr.spice {
      background: #c6bb3f;
    }
  }
}

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}