/* Media Queries */
/* Media Queries */
#navbar {
  background: #41313a;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 10;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); }
  #navbar .inner {
    height: 70px;
    padding-right: 90px; }
  #navbar h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 10px;
    font-size: 48px;
    line-height: 70px; }
    #navbar h1 a {
      color: #FFF;
      text-decoration: none; }
      #navbar h1 a:hover, #navbar h1 a:focus, #navbar h1 a:active {
        color: rgba(255, 255, 255, 0.75); }
  #navbar #site-navigation {
    top: 0;
    right: 0;
    bottom: 0; }
  #navbar #site-share {
    top: 0;
    right: 60px;
    bottom: 0;
    display: none; }
  #navbar #site-navigation,
  #navbar #site-share {
    margin: 0;
    padding: 0;
    position: absolute;
    color: #FFFFFF; }
    #navbar #site-navigation:hover a, #navbar #site-navigation:focus a, #navbar #site-navigation.active a,
    #navbar #site-share:hover a,
    #navbar #site-share:focus a,
    #navbar #site-share.active a {
      opacity: 1; }
    #navbar #site-navigation h4,
    #navbar #site-share h4 {
      color: #FFF;
      margin: 0;
      padding: 0;
      font-size: 48px;
      font-weight: 700;
      text-align: right;
      height: 70px;
      text-align: right; }
      #navbar #site-navigation h4 a,
      #navbar #site-share h4 a {
        display: block;
        text-decoration: none;
        color: #FFF;
        padding: 20px;
        width: 70px;
        height: 70px;
        float: right;
        opacity: 0.25;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out; }
        #navbar #site-navigation h4 a img,
        #navbar #site-share h4 a img {
          max-width: 100%;
          display: block; }
        #navbar #site-navigation h4 a:hover, #navbar #site-navigation h4 a:active, #navbar #site-navigation h4 a:focus,
        #navbar #site-share h4 a:hover,
        #navbar #site-share h4 a:active,
        #navbar #site-share h4 a:focus {
          opacity: 1; }
    #navbar #site-navigation ul,
    #navbar #site-share ul {
      margin: 0;
      padding: 0;
      display: none;
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); }
      #navbar #site-navigation ul li,
      #navbar #site-share ul li {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        #navbar #site-navigation ul li a,
        #navbar #site-share ul li a {
          color: #FFFFFF;
          text-decoration: none;
          background: #41313a;
          font-size: 1.25em;
          padding: 0.75em 1.5em;
          display: block;
          font-family: "bree-serif", sans-serif;
          font-weight: 300;
          min-width: 300px; }
          #navbar #site-navigation ul li a:hover, #navbar #site-navigation ul li a:focus, #navbar #site-navigation ul li a:active,
          #navbar #site-share ul li a:hover,
          #navbar #site-share ul li a:focus,
          #navbar #site-share ul li a:active {
            color: rgba(255, 255, 255, 0.75); }

@media all and (min-width: 768px) {
  #navbar {
    padding: 0 40px; }
    #navbar h1 {
      text-align: left;
      padding-left: 10px; }
    #navbar #site-navigation h4 a .menu-text {
      display: inline; }
    #navbar #site-navigation ul {
      position: fixed;
      left: auto;
      max-width: 300px; } }
@media all and (min-width: 880px) {
  #navbar {
    padding: 0 40px; }
    #navbar .inner {
      max-width: 1200px; }
    #navbar h1 {
      padding-left: 0; } }
/* Media Queries */
#recipe {
  width: 100%;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
  display: block; }
  #recipe .toggle-links {
    font-size: 10px;
    font-family: "adelle-sans", "Helvetica Nueue", Helvetica, Verdana, sans-serif;
    float: right;
    margin-top: 8px; }
    #recipe .toggle-links a {
      text-decoration: none;
      color: #f0e1b5; }
      #recipe .toggle-links a:hover {
        color: #a7937e; }
  #recipe .item-link {
    display: inline-block;
    position: relative;
    text-indent: -99999em;
    height: 18px;
    width: 18px;
    background: url("../../i/link.png") no-repeat center center;
    background-size: contain;
    margin-left: 10px;
    top: 5px;
    float: right;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0.25; }
    #recipe .item-link:hover {
      opacity: 1; }
  #recipe .inline-link {
    display: inline-block;
    position: relative;
    text-indent: -99999em;
    height: 12px;
    width: 12px;
    background: url("../../i/link.png") no-repeat center center;
    background-size: contain;
    margin: 0 5px;
    top: 5px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0.25; }
    #recipe .inline-link:hover {
      opacity: 1; }
  #recipe thead {
    display: block; }
    #recipe thead tr {
      display: block;
      width: 100%;
      position: relative; }
      #recipe thead tr:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden; }
      #recipe thead tr th {
        font-size: 1em;
        font-family: "bree-serif", sans-serif;
        font-weight: 700;
        background: #41313a;
        color: #f0e1b5;
        min-height: 50px;
        padding: 10px;
        text-align: left; }
      #recipe thead tr th:first-child {
        display: inline-block;
        width: 65%;
        float: left; }
      #recipe thead tr th:last-child {
        display: inline-block;
        width: 35%;
        float: right; }
  #recipe tbody {
    display: block; }
    #recipe tbody tr {
      border-bottom: 1px solid rgba(65, 49, 58, 0.2);
      width: 100%;
      position: relative; }
      #recipe tbody tr:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden; }
      #recipe tbody tr td:first-child {
        display: inline-block;
        width: 65%;
        float: left;
        padding-left: 42px; }
      #recipe tbody tr td:last-child {
        display: inline-block;
        width: 35%;
        float: right; }
    #recipe tbody tr.mild, #recipe tbody tr.medium, #recipe tbody tr.hot {
      display: block; }
    #recipe tbody td {
      padding: 10px;
      font-family: "bree-serif", sans-serif;
      font-weight: 400;
      color: #41313a; }
      #recipe tbody td a {
        color: #41313a; }
      #recipe tbody td .item-qty {
        margin-right: 5px; }
      #recipe tbody td .item-type {
        font-size: 0.75em; }
      #recipe tbody td .item-plural {
        display: none; }
        #recipe tbody td .item-plural.always-plural, #recipe tbody td .item-plural.is-plural {
          display: inline; }
      #recipe tbody td .item-desc {
        font-size: 0.75em;
        color: #735a53; }
    #recipe tbody tr.sauce td,
    #recipe tbody tr.substance td,
    #recipe tbody tr.spice td {
      color: #f0e1b5;
      padding: 10px;
      font-size: 1.25em;
      font-family: "bree-serif", sans-serif;
      font-weight: 700; }
      #recipe tbody tr.sauce td:first-child, #recipe tbody tr.sauce td:last-child,
      #recipe tbody tr.substance td:first-child,
      #recipe tbody tr.substance td:last-child,
      #recipe tbody tr.spice td:first-child,
      #recipe tbody tr.spice td:last-child {
        float: none;
        width: 100%; }
    #recipe tbody tr.sauce {
      background: #c63f3f; }
    #recipe tbody tr.substance {
      background: #c68b3f; }
    #recipe tbody tr.spice {
      background: #c6bb3f; }

/* Media Queries */
#output-size:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }
#output-size .batch-size {
  font-family: "bree-serif", sans-serif;
  font-size: 60px;
  text-align: center; }
  #output-size .batch-size .number {
    font-size: 120px;
    font-weight: 700;
    line-height: 0.5em; }
  #output-size .batch-size .quarts {
    font-weight: 300;
    font-size: 18px;
    line-height: 0.5em; }
    #output-size .batch-size .quarts .quart-value {
      font-weight: 400; }
#output-size .batch-selector {
  padding-top: 30px; }
  #output-size .batch-selector p {
    font-size: 14px; }

#output-heat:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }
#output-heat .heat-headers:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }
#output-heat h3.batch-heat {
  width: 33%;
  float: left;
  clear: none;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px; }
  #output-heat h3.batch-heat.mild {
    text-align: left; }
  #output-heat h3.batch-heat.medium {
    text-align: center; }
  #output-heat h3.batch-heat.hot {
    text-align: right; }
#output-heat .slider:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

/* Media Queries */
section.instructions .inner #instruction-grid {
  margin-top: 5%; }
  section.instructions .inner #instruction-grid:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  section.instructions .inner #instruction-grid .instruction-item {
    margin-bottom: 5%;
    color: #41313a;
    background: #FFF; }
    section.instructions .inner #instruction-grid .instruction-item h3 {
      margin: 0;
      padding: 20px;
      padding-left: 60px;
      background-color: #41313a;
      color: #c2bba8; }
      section.instructions .inner #instruction-grid .instruction-item h3 .icheck {
        top: 35px;
        left: 20px; }
    section.instructions .inner #instruction-grid .instruction-item .image img {
      display: block;
      width: 100%; }
    section.instructions .inner #instruction-grid .instruction-item .item-data {
      padding: 20px;
      background: #FFF; }
      section.instructions .inner #instruction-grid .instruction-item .item-data .instruction p {
        margin-top: 0; }
      section.instructions .inner #instruction-grid .instruction-item .item-data .options {
        font-size: 0.85em;
        font-style: italic;
        color: #a7937e; }
        section.instructions .inner #instruction-grid .instruction-item .item-data .options p {
          margin-bottom: 0; }
section.instructions .inner ul {
  padding-left: 1em; }
  section.instructions .inner ul li {
    list-style-type: square;
    list-style-position: outside; }

@media all and (min-width: 768px) {
  section.instructions .inner #instruction-grid .instruction-item {
    -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    border: 5px solid rgba(65, 49, 58, 0.5);
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
    section.instructions .inner #instruction-grid .instruction-item:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden; }
    section.instructions .inner #instruction-grid .instruction-item .image {
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out; }

  html.no-touch section.instructions .inner #instruction-grid .instruction-item .image {
    opacity: 0.85; }
  html.no-touch section.instructions .inner #instruction-grid .instruction-item:hover {
    border: 5px solid #41313a; }
    html.no-touch section.instructions .inner #instruction-grid .instruction-item:hover .image {
      opacity: 1; } }
@media all and (min-width: 880px) {
  section.instructions .inner #instruction-grid .instruction-item {
    position: relative; }
    section.instructions .inner #instruction-grid .instruction-item:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden; }
    section.instructions .inner #instruction-grid .instruction-item .image {
      float: left;
      width: 50%; }
    section.instructions .inner #instruction-grid .instruction-item .item-data {
      width: 50%;
      float: right; } }
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: relative; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "adelle-sans", "Helvetica Nueue", Helvetica, Verdana, sans-serif;
  background-color: #f0e1b5;
  color: #a7937e; }

#wrapper {
  padding-top: 70px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "bree-serif", sans-serif;
  font-weight: 300; }

h1 {
  text-align: left; }

h1, h2, h3 {
  font-weight: 700; }

h2.section-header {
  font-size: 60px;
  text-align: center;
  line-height: 1em;
  margin-top: 20px; }

h3 {
  font-size: 32px; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #41313a; }
  a:hover, a:focus {
    color: #735a53; }
  a:focus {
    outline: 0; }

section:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.site-section {
  padding-top: 80px; }

.sidebar {
  padding: 0 20px; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    margin: 0;
    padding: 0;
    list-style-type: none; }

.inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  .inner:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }

#wrapper > header .inner {
  margin-bottom: 2em;
  padding: 2em;
  background: #c2bba8;
  color: #735a53; }
#wrapper > header section h2 {
  margin-top: 0;
  border-bottom: 2px solid #a7937e; }

#page-sharing #fb-share {
  display: inline-block; }
#page-sharing #twitter-share {
  position: relative;
  top: 5px;
  display: inline-block; }
  #page-sharing #twitter-share .hcount #count {
    padding-left: 10px !important;
    padding-left: 10px !important; }

@media all and (min-width: 768px) {
  #wrapper {
    padding: 40px;
    padding-top: 70px; }

  #wrapper > header .inner {
    margin-top: 2em;
    -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 5px solid rgba(65, 49, 58, 0.25); }
  #wrapper > header section {
    width: 47.25%;
    float: left;
    margin-right: 5%; }
    #wrapper > header section:nth-child(2) {
      margin-right: 0; }
    #wrapper > header section:last-child {
      width: 100%;
      margin-right: 0; } }
@media all and (min-width: 880px) {
  #wrapper {
    padding: 40px;
    padding-top: 70px; }

  #wrapper > header .inner {
    margin-top: 2em;
    -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 5px solid rgba(65, 49, 58, 0.25); }

  #ingredients:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  #ingredients .sidebar {
    width: 45%;
    margin-right: 5%;
    float: left; }
  #ingredients .main-content {
    width: 50%;
    float: left;
    clear: none; } }
