body {
  position: relative;
  background: rgba($gray-900, 1);
  // font-family: 'Roboto Slab', serif;
  font-family: $font--serif;
  font-size: 120%;
}

a {
  transition: color 0.35s;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font--header;
}

.btn,
.badge {
  font-family: $font--sans;
}

.font-serif {
  font-family: $font--serif;
}
.font-sans {
  font-family: $font--sans;
}
.font-header {
  font-family: $font--header;
}

.jumbotron,
.card {
  box-shadow: $default-shadow;
}
