.horizontal-section--intro {

  .section-navigation {

    @include media-breakpoint-only('xs') {
      .btn {
        width: 100%;
        text-align: left;
      }
    }

    @include media-breakpoint-up('sm') {
      display: flex;
      justify-content: space-between;

      .btn {
        width: 24%;
      }
    }

    @include media-breakpoint-up('lg') {
      .btn {
        padding: 1.5rem 1rem;
        font-size: 1.2em;
      }
    }

    .svg-inline--fa {
      margin-right: 0.5em;
    }
  }
}
