.horizontal-section--intro {

  .section-navigation {

    @include media-breakpoint-only('xs') {
      .btn {
        width: 100%;
        text-align: left;
      }
    }

    @include media-breakpoint-up('sm') {
      display: flex;
      justify-content: space-between;

      .btn {
        width: 32%;
      }
    }

    @include media-breakpoint-up('lg') {
      .btn {
        padding: 1.5rem 1rem;
        font-size: 1.2em;
      }
    }

    .svg-inline--fa {
      margin-right: 0.5em;
    }
  }

  ul.specialties {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
    font-size: 0;

    li {
      display: inline-block;
      font-size: 1.2rem;
    }

    .badge {
      transition: background 0.25s, color 0.25s;
      padding: 0.5em 0.75em;
      margin-right: 0.35em;
      margin-bottom: 0.35em;
    }
  }

  .drupal {
    background: $blue-drupal;

    &:hover {
      background: darken($blue-drupal, 10%);
    }
  }

  .javascript {
    background: $yellow-js;

    &:hover {
      background: darken($yellow-js, 10%);
    }
  }

  .nodejs {
    background: $green-nodejs;

    &:hover {
      background: darken($green-nodejs, 10%);
    }
  }

  .webpack {
    background: $blue-webpack;

    &:hover {
      background: darken($blue-webpack, 10%);
    }
  }

  .jquery {
    background: $blue-jquery;

    &:hover {
      background: darken($blue-jquery, 10%);
    }
  }

  .php {
    background: $purple-php;

    &:hover {
      background: darken($purple-php, 10%);
    }
  }

  .mysql {
    background: $teal-mysql;

    &:hover {
      background: darken($teal-mysql, 10%);
    }
  }

  .react {
    background: $blue-react;

    &:hover {
      background: darken($blue-react, 10%);
    }
  }

  .gulp {
    background: $red-gulp;

    &:hover {
      background: darken($red-gulp, 10%);
    }
  }

  .sass {
    background: $pink-sass;

    &:hover {
      background: darken($pink-sass, 10%);
    }
  }

  .angular {
    background: $red-angular;

    &:hover {
      background: darken($red-angular, 10%);
    }
  }

  .grunt {
    background: $orange-grunt;

    &:hover {
      background: darken($orange-grunt, 10%);
    }
  }

  .git {
    background: $red-git;

    &:hover {
      background: darken($red-git, 10%);
    }
  }

  .patternlab {
    background: $gray-800;

    &:hover {
      background: darken($gray-800, 10%);
    }
  }

  .composer {
    background: $brown-composer;

    &:hover {
      background: darken($brown-composer, 10%);
    }
  }

  .twig {
    background: $green-twig;

    &:hover {
      background: darken($green-twig, 10%);
    }
  }
}
