// Section 'intro'.
.horizontal-section--instructions {

}

.horizontal-section--instruction-sections {

  .card-img-top {
    // display: none;
  }

  background: $c-chili--one;

  .instructions-card {
    &:first-of-type {
      margin-top: 20vh;
    }
    &:last-of-type {
      margin-bottom: 15vh;
    }
  }

  .card {
    width: 100%;
  }

  .btn-group {
    margin-right: 1em;
    outline: none;

    &:focus,
    &:active {
      outline: none;
    }
  }

  .card-footer {
    font-size: 0.9em;
    font-style: italic;
    background: $gray-400;
    color: $gray-600;
  }
}
